.info-card {
  width: 25rem;
  height: 30rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  color: #ffffff;
  padding: 3rem 2rem;
  border-radius: 3%;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -0.2rem;
    left: -0.2rem;
    right: -0.2rem;
    bottom: -0.2rem;
    background: #fff;
    z-index: -1;
    border-radius: 3%;
  }

  &:after {
    content: '';
    position: absolute;
    top: -0.2rem;
    left: -0.2rem;
    right: -0.2rem;
    bottom: -0.2rem;
    background: #fff;
    z-index: -2;
    border-radius: 3%;
    filter: blur(4rem);
  }

  &:before,
  &:after {
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
    animation: rotate 2s linear infinite;
  }

  .glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: block;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3%;
  }

  .info h4 {
    margin-bottom: 0.5rem;
  }

  .text h4 {
    margin-bottom: 0.5rem;
  }

  p {
    font-size: $s-size;
  }
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}
