.info-card {
  width: 25rem;
  height: 30rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  color: #ffffff;
  padding: 3rem 2rem;
  border-radius: 3%;
  position: relative;
  box-shadow: 0 0 3rem #fff, 0 0 5rem #fff;
  animation: animate 5s linear infinite;

  .info h4 {
    margin-bottom: 0.5rem;
  }

  .text h4 {
    margin-bottom: 0.5rem;
  }

  p {
    font-size: $s-size;
  }
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}
