.card {
  width: 25rem;
  height: 53rem;
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid lighten($light-gray, 20%);
  border-radius: 0.5rem;
  background-color: $background-color;
  transition: 0.5s;

  .card-img {
    height: 20rem;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .heading {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin-top: 0.5rem;

    h3 {
      font-size: $s-size;
      color: $light-gray;
      margin-bottom: 1.5rem;
    }
  }

  .news-title {
    font-size: $m-size;
    color: $dark-blue;
    margin-bottom: 2.5rem;
    padding: 0 1rem;
  }

  .news-content {
    height: 40rem;
    font-size: $s-size;
    color: $light-gray;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }

  .card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 1rem;
    margin-bottom: 1rem;

    .news-button {
      border: 1px solid $dark-blue;
      border-radius: 0.5rem;
      padding: 0 0.7rem;
      background: none;
      height: 3rem;
      color: $dark-blue;
      font-size: $m-size;
      font-weight: bold;
      outline: none;
      transition: 0.5s;

      &:hover {
        background-color: $dark-blue;
        color: $background-color;
      }
    }

    .card-number {
      color: $dark-blue;
      font-size: $m-size;
      margin-bottom: 1.5rem;
    }
  }
}

.active-card {
  position: relative;
  box-shadow: 0 0 3rem #fff, 0 0 5rem #fff;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}
