* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: $dark-blue;
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}
