@import './variables';
@import './base';
@import './components/NewsCards/NewsCards';
@import './components/NewsCard/NewsCard';
@import './components/InfoCards/InfoCards';

.App {
  height: 100vh;

  .news-img {
    text-align: center;
    margin: 0 auto;

    img {
      width: 30rem;
      border-radius: 3rem;
      margin-top: 2rem;
      position: relative;
      box-shadow: 0 0 3rem #fff, 0 0 5rem #fff, 0 0 7rem #fff;
      animation: animate 5s linear infinite;
    }
  }
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}
