@import './variables';
@import './base';
@import './components/NewsCards/NewsCards';
@import './components/NewsCard/NewsCard';
@import './components/InfoCards/InfoCards';

.App {
  height: 100vh;
  .news-img {
    text-align: center;
    margin: 3rem auto;

    img {
      border-radius: 3rem;
      box-shadow: 0.5rem 0.5rem 2rem 0.5rem #ccc, -0.5rem -0.5rem 2rem 0.5rem #ccc;
    }
  }
}
